/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: orange;
  }
}

@keyframes blink-critical {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: red;
  }
}

/* -----------------------------------------------------------------------------
* Base styles
* -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: #323232;
  color: white;
  /* font-family: "Noto Sans, Cantarell, RobotoMono Nerd Font"; */
  /* font-family: "Noto Sans, Cantarell, Font Awesome 6 Free"; */
  font-family: "Noto Sans, Font Awesome 6 Free";
  font-size: 13px;
}

/* Each module */
#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-keyboard-layout,
#custom-sunset,
#custom-weather,
#idle_inhibitor,
#memory,
#mode,
#network,
#pulseaudio,
#language,
#temperature,
#tray {
  padding-left: 10px;
  padding-right: 10px;
}

#custom-scratchpad-indicator {
  margin-left: 10px;
  margin-right: 10px;
  color: #d9b64e;
}

/* -----------------------------------------------------------------------------
* Module styles
* -------------------------------------------------------------------------- */

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: orange;
}

#battery.critical {
  color: red;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#bluetooth {
  font-family: "RobotoMono Nerd Font";
}

#clock {
  font-weight: bolder;
  color: #d9b64e;
}

#cpu {
  /* No styles */
}

#cpu.warning {
  color: orange;
}

#cpu.critical {
  color: red;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: orange;
}

#memory.critical {
  color: red;
  animation-name: blink-critical;
  animation-duration: 2s;
}

#mode {
  background: #88c9f2;
  color: #011c26;
  border-top: 2px solid white;
  /* To compensate for the top border and still have vertical centering */
  padding-bottom: 2px;
}

#network {
  /* No styles */
}

#network.disconnected {
  color: orange;
}

#pulseaudio {
  /* No styles */
}

#pulseaudio.muted {
  color: #368abf;
}

#custom-spotify {
  color: rgb(102, 220, 105);
}

#temperature {
  /* No styles */
}

#temperature.critical {
  color: red;
}

#tray {
  /* No styles */
}

#window {
  font-weight: bold;
  margin-left: 10px;
}

#workspaces button {
  border-top: 2px solid transparent;
  /* To compensate for the top border and still have vertical centering */
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: #888888;
}

#workspaces button.focused {
  color: white;
  /* border-color: #4c7899; */
  /* background-color: #285577; */
  background-color: #368abf;
  border-color: #d9b64e;
}

#workspaces button.urgent {
  border-color: #c9545d;
  color: #c9545d;
}
