[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][14]
activityId=
byPassWM=false
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
layoutId=
location=3
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=0
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][14][Applets][348]
immutability=1
plugin=org.kde.plasma.chiliclock

[Containments][14][Applets][348][Configuration]
PreloadWeight=15

[Containments][14][Applets][348][Configuration][Appearance]
customDateFormat=ddd\s
customOffsetX=55.66502463054187
dateFormat=customDate
fixedFont=true
fontFamily=San Francisco Display
fontSize=13
showSeparator=false
use24hFormat=0

[Containments][14][Applets][348][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][351]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][351][Configuration]
PreloadWeight=0

[Containments][14][Applets][351][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][351][Configuration][General]
containmentType=Latte
lengthPixels=12

[Containments][14][Applets][354]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][354][Configuration]
PreloadWeight=0

[Containments][14][Applets][354][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][354][Configuration][General]
containmentType=Latte
lengthPixels=13

[Containments][14][Applets][355]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][355][Configuration]
PreloadWeight=0

[Containments][14][Applets][355][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][355][Configuration][General]
containmentType=Latte
lengthPixels=15

[Containments][14][Applets][356]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][356][Configuration]
PreloadWeight=0

[Containments][14][Applets][356][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][356][Configuration][General]
containmentType=Latte
lengthPixels=8

[Containments][14][Applets][358]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][358][Configuration]
PreloadWeight=0

[Containments][14][Applets][358][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][358][Configuration][General]
containmentType=Latte
lengthPixels=13

[Containments][14][Applets][359]
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][14][Applets][359][Configuration]
PreloadWeight=0
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][14][Applets][359][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][359][Configuration][General]
icon=deskbar
useCustomIcon=true
viewMode=1

[Containments][14][Applets][360]
immutability=1
plugin=org.kde.plasma.inlineBattery

[Containments][14][Applets][360][Configuration]
PreloadWeight=89

[Containments][14][Applets][360][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][360][Configuration][General]
fontSize=11
iconHeight=10
iconWidth=19
lowBatteryPercent=25
padding=6

[Containments][14][Applets][363]
immutability=1
plugin=org.kde.plasma.volume

[Containments][14][Applets][363][Configuration]
PreloadWeight=0

[Containments][14][Applets][364]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][14][Applets][364][Configuration]
PreloadWeight=19

[Containments][14][Applets][378]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][378][Configuration]
PreloadWeight=0

[Containments][14][Applets][378][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][378][Configuration][General]
containmentType=Latte
lengthPixels=11

[Containments][14][Applets][381]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][381][Configuration]
PreloadWeight=0

[Containments][14][Applets][381][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][381][Configuration][General]
containmentType=Latte
lengthPixels=12

[Containments][14][Applets][431]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][431][Configuration]
PreloadWeight=0

[Containments][14][Applets][431][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][14][Applets][431][Configuration][General]
containmentType=Latte
lengthPixels=17

[Containments][14][Applets][435]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][435][Configuration]
PreloadWeight=0

[Containments][14][Applets][435][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][14][Applets][435][Configuration][General]
containmentType=Latte
lengthPixels=10

[Containments][14][Applets][44]
immutability=1
plugin=org.kde.plasma.appmenu

[Containments][14][Applets][44][Configuration]
PreloadWeight=0

[Containments][14][Applets][44][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][463]
immutability=1
plugin=org.kde.latte.sidebarbutton

[Containments][14][Applets][463][Configuration]
PreloadWeight=14

[Containments][14][Applets][463][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][14][Applets][463][Configuration][General]
iconSource=applications-other
maximumIconSize=31

[Containments][14][Applets][469]
immutability=1
plugin=org.kde.milou

[Containments][14][Applets][469][Configuration]
PreloadWeight=0

[Containments][14][Applets][470]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][470][Configuration]
PreloadWeight=0

[Containments][14][Applets][470][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][14][Applets][470][Configuration][General]
containmentType=Latte
lengthPixels=13

[Containments][14][Applets][484]
immutability=1
plugin=org.kpple.kppleMenu

[Containments][14][Applets][484][Configuration]
PreloadWeight=92

[Containments][14][Applets][515]
immutability=1
plugin=org.kde.plasma.betterinlineclock

[Containments][14][Applets][515][Configuration]
PreloadWeight=54

[Containments][14][Applets][515][Configuration][Appearance]
customDateFormat=ddd  d MMMM
customSpacing=1.5736040609137056
dateFormat=customDate
fixedFont=true
fontSize=13
showSeparator=false
use24hFormat=2

[Containments][14][Applets][515][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][14][Applets][516]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][14][Applets][516][Configuration]
PreloadWeight=84
SystrayContainmentId=517

[Containments][14][Applets][528]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][14][Applets][528][Configuration]
PreloadWeight=39

[Containments][14][Applets][529]
immutability=1
plugin=org.communia.apptitle

[Containments][14][Applets][529][Configuration]
PreloadWeight=34

[Containments][14][Applets][529][Configuration][ConfigDialog]
DialogHeight=562
DialogWidth=939

[Containments][14][Applets][529][Configuration][General]
bold=true
noWindowType=text
textType=1

[Containments][14][Applets][530]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][14][Applets][530][Configuration]
PreloadWeight=59

[Containments][14][Applets][531]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][531][Configuration]
PreloadWeight=34

[Containments][14][Applets][531][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][14][Applets][531][Configuration][General]
containmentType=Latte
lengthPixels=8

[Containments][14][Applets][534]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][534][Configuration]
PreloadWeight=34

[Containments][14][Applets][534][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][14][Applets][534][Configuration][General]
containmentType=Latte
lengthPixels=2

[Containments][14][Applets][535]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][535][Configuration]
PreloadWeight=34

[Containments][14][Applets][535][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][14][Applets][535][Configuration][General]
containmentType=Latte
lengthPixels=8

[Containments][14][Applets][543]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][543][Configuration]
PreloadWeight=34

[Containments][14][Applets][543][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][14][Applets][543][Configuration][General]
containmentType=Latte
lengthPixels=8

[Containments][14][Applets][547]
immutability=1
plugin=org.kde.plasma.diskquota

[Containments][14][Applets][547][Configuration]
PreloadWeight=55

[Containments][14][Applets][548]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][14][Applets][548][Configuration]
PreloadWeight=60

[Containments][14][ConfigDialog]
DialogHeight=931
DialogWidth=450

[Containments][14][Configuration]
PreloadWeight=0

[Containments][14][General]
alignment=10
alignmentUpgraded=true
animationLauncherBouncing=false
animationWindowAddedInGroup=false
animationWindowInAttention=false
animationsEnabled=false
appletOrder=355;484;356;529;534;44;516;548;535;530;531;547;435;528;543;364;378;363;381;360;354;515;358;469;470;359;351;463;431
dragActiveWindowEnabled=true
durationTime=x3
iconSize=16
inConfigureAppletsMode=true
mouseWheelActions=false
panelPosition=10
panelShadows=false
panelSize=100
panelTransparency=67
shadowOpacity=0
shadowSize=0
shadowsUpgraded=true
splitterPosition=6
splitterPosition2=7
tasksUpgraded=true
thickMargin=18
titleTooltips=false
zoomLevel=0

[Containments][14][Indicator]
customType=
enabled=true
enabledForApplets=false
padding=0.05999999865889549
type=org.kde.latte.default

[Containments][339]
activityId=
byPassWM=false
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
location=4
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=0
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][339][Applets][340]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][339][Applets][340][Configuration]
PreloadWeight=0

[Containments][339][Applets][340][Configuration][General]
groupTasksByDefault=false
isInLatteDock=true
launchers59=applications:firefox.desktop,applications:org.kde.discover.desktop,applications:org.kde.kate.desktop,applications:org.kde.gwenview.desktop,applications:org.kde.ark.desktop,applications:vlc.desktop,applications:org.kde.konsole.desktop,applications:systemsettings.desktop
scrollTasksEnabled=true
showOnlyCurrentActivity=false
showOnlyCurrentDesktop=true
showProgressBadge=false

[Containments][339][Applets][345]
immutability=1
plugin=org.kde.plasma.trash

[Containments][339][Applets][345][Configuration]
PreloadWeight=0

[Containments][339][Applets][362]
immutability=1
plugin=org.kde.latte.separator

[Containments][339][Applets][362][Configuration]
PreloadWeight=0

[Containments][339][Applets][362][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][339][Applets][362][Configuration][General]
lengthMargin=10

[Containments][339][Applets][468]
immutability=1
plugin=org.kde.plasma.kicker

[Containments][339][Applets][468][Configuration]
PreloadWeight=84

[Containments][339][Applets][468][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][339][Applets][468][Configuration][General]
customButtonImage=deskbar
favoritesPortedToKAstats=true
useCustomButtonImage=true

[Containments][339][Applets][476]
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][339][Applets][476][Configuration]
PreloadWeight=0
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][339][Applets][476][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][339][Applets][476][Configuration][General]
icon=Nautilus
sortDesc=true
sortDirsFirst=false
useCustomIcon=true

[Containments][339][Applets][488]
immutability=1
plugin=launchpadPlasma

[Containments][339][Applets][488][Configuration]
PreloadWeight=84

[Containments][339][Applets][488][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][339][Applets][488][Configuration][General]
customButtonImage=app-launcher
favoritesPortedToKAstats=true
useCustomButtonImage=true
useCustomSizeGrid=true

[Containments][339][Applets][544]
immutability=1
plugin=org.kde.plasma.minimizeall

[Containments][339][Applets][544][Configuration]
PreloadWeight=34

[Containments][339][Applets][545]
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][339][Applets][545][Configuration]
PreloadWeight=23
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][339][ConfigDialog]
DialogHeight=931
DialogWidth=450

[Containments][339][Configuration]
PreloadWeight=0

[Containments][339][General]
alignmentUpgraded=true
appletOrder=476;468;488;340;362;545;544;345
durationTime=x1
groupTasksByDefault=false
iconSize=16
lengthExtMargin=2
mouseWheelActions=false
panelOutline=true
panelShadows=false
panelSize=100
panelTransparency=22
proportionIconSize=4
scrollTasksEnabled=true
shadowOpacity=5
shadowSize=55
shadowsUpgraded=true
showOnlyCurrentActivity=false
showOnlyCurrentDesktop=true
showProgressBadge=false
tasksUpgraded=true
titleTooltips=false
zoomLevel=20

[Containments][339][Indicator]
customType=
enabled=true
enabledForApplets=true
padding=0.07000000029802322
type=org.kde.latte.default

[Containments][339][Indicator][org.kde.latte.default][General]
activeStyle=Dot
glowEnabled=true
glowOpacity=0
minimizedTaskColoredDifferently=true

[Containments][517]
PreloadWeight=34
activityId=
formfactor=2
immutability=1
lastScreen=-1
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][517][Applets][519]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][517][Applets][519][Configuration]
PreloadWeight=26

[Containments][517][Applets][520]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][517][Applets][520][Configuration]
PreloadWeight=34

[Containments][517][Applets][521]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][517][Applets][521][Configuration]
PreloadWeight=34

[Containments][517][Applets][522]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][517][Applets][522][Configuration]
PreloadWeight=34

[Containments][517][Applets][524]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][517][Applets][524][Configuration]
PreloadWeight=34

[Containments][517][Applets][525]
immutability=1
plugin=org.kde.plasma.vault

[Containments][517][Applets][525][Configuration]
PreloadWeight=34

[Containments][517][Applets][526]
immutability=1
plugin=org.kde.plasma.battery

[Containments][517][Applets][526][Configuration]
PreloadWeight=34

[Containments][517][Applets][536]
immutability=1
plugin=org.kde.plasma.diskquota

[Containments][517][Applets][536][Configuration]
PreloadWeight=34

[Containments][517][Applets][537]
immutability=1
plugin=org.kde.plasma.katesessions

[Containments][517][Applets][537][Configuration]
PreloadWeight=34

[Containments][517][Applets][541]
immutability=1
plugin=org.kde.kscreen

[Containments][517][Applets][541][Configuration]
PreloadWeight=34

[Containments][517][Applets][542]
immutability=1
plugin=touchpad

[Containments][517][Applets][542][Configuration]
PreloadWeight=34

[Containments][517][ConfigDialog]
DialogHeight=849
DialogWidth=1054

[Containments][517][General]
extraItems=org.kde.plasma.nightcolorcontrol,org.kde.plasma.vault,org.kde.plasma.keyboardindicator,org.kde.plasma.devicenotifier,org.kde.plasma.bluetooth,org.kde.plasma.printmanager,org.kde.plasma.battery,Discover Notifier_org.kde.DiscoverNotifier,org.kde.plasma.katesessions,org.kde.plasma.diskquota,touchpad,org.kde.kscreen,org.kde.plasma.clipboard,org.kde.plasma.mediacontroller_plus
hiddenItems=Discover Notifier_org.kde.DiscoverNotifier,org.kde.plasma.katesessions,org.kde.plasma.clipboard
knownItems=org.kde.plasma.networkmanagement,org.kde.plasma.notifications,org.kde.plasma.volume,org.kde.plasma.nightcolorcontrol,org.kde.plasma.vault,org.kde.plasma.keyboardindicator,org.kde.plasma.devicenotifier,org.kde.plasma.bluetooth,org.kde.plasma.clipboard,org.kde.plasma.printmanager,org.kde.plasma.battery,org.kde.plasma.mediacontroller,org.kde.plasma.mediacontroller_plus

[LayoutSettings]
background=
backgroundStyle=0
color=blue
customBackground=
customTextColor=
icon=
lastUsedActivity=
launchers=
preferredForShortcutsTouched=true
showInMenu=true
textColor=fcfcfc
version=2

[ScreenMapping]
screenMapping=
